.tech-container {
  position: relative;
  min-height: 100vh;
  padding: 50px 40px;
  margin-top: 7px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tech-container h2{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 95%;
}

.tech-container h2 span {
  font-size: 25px;
  opacity: 0.8;
  padding-bottom: 5px;
  border-bottom: 2px solid var(--color-pri);
  font-family: "Open Sans Condensed", sans-serif;
}

.tech-container .tech {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 120%;
  margin-top: 15px;
  /* margin-bottom: 50px; */
  /* background: rgba(0, 0, 0, 0.116); */
  background: var(--color-sec-light);
  padding: 20px;
  border: 1px solid var(--color-sec);
  border-radius: 30px;
}
.tech-container .tech h3{
  font-size: 19px;
  color: var(--color-pri);
  border-bottom: 1px solid white;
}

.tech-container .tech div{
  position: relative;
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  margin-top: 15px;
}

.tech-container .tech span{
  background: rgba(0, 0, 0, 0.116);
  color: var(--color-pri);
  border: 1px solid white;
  border-radius: 8px;
  @apply px-4 py-2;
  cursor: pointer;
}
.tech-container .tech span:hover{
  background: linear-gradient(62deg, rgba(120,17,227,0.8565477216277135) 35%, rgba(214,48,199,0.8957634079022234) 100%);
  color: white;
  border: 1px solid var(--color-pri);
}
/* 
.tech-container .tech .tech-img {
  height: 300px;
  width: 300px;
  border-radius: 40px;
  background: rgb(5, 7, 37) url(../props/img3.jpg);
  background-size: cover;
  background-position: center;
  border: 2px solid var(--color-sec-light);
}

.tech-container .tech .tech-info {
  margin-left: 50px;
  font-family: "Open Sans Condensed";
  max-width: 50%;
}

.tech-container .tech .tech-info .name {
  font-size: 40px;
  font-weight: 500;
  letter-spacing: 2px;
}
.tech-container .tech .tech-info .position {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 2px;
}
.tech-container .tech .tech-info .about {
  margin-top: 40px;
  font-weight: 100;
  font-size: 17px;
}
.tech-container .tech .tech-info .contact-tech {
  background-color: var(--color-sec-light);
  padding: 17px 35px;
  font-size: 18px;
  margin-top: 50px;
  border-radius: 50px;
  position: absolute;
  transition: 0.1s ease;
}
.tech-container .tech .tech-info .contact-tech span {
  text-transform: capitalize;
}
.tech-container .tech .tech-info .contact-tech:hover {
  background-color: transparent;
  border: 2px solid var(--color-sec-light);
}

@media (max-width: 820px) {
  .tech-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    min-height: 100vh;
    margin-top: 50px;
    width: 90%;
  }

  .tech-container .tech {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 35px;
    background: rgba(0, 0, 0, 0.116);
    padding: 18px;
    border-radius: 50px;
    backdrop-filter: blur(20px);
  }
  .tech-container .tech .tech-img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background: rgb(5, 7, 37) url(../props/img3.jpg);
    background-size: cover;
    background-position: center;
    border: 2px solid var(--color-sec-light);
  }

  .tech-container .tech .tech-info {
    position: relative;
    margin-left: 10px;
    font-family: "Open Sans Condensed";
    max-width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .tech-container .tech .tech-info .name {
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 2px;
  }
  .tech-container .tech .tech-info .position {
    font-size: 25px;
    font-weight: 200;
    letter-spacing: 2px;
  }
  .tech-container .tech .tech-info .about {
    margin-top: 10px;
    font-weight: 100;
    font-size: 28px;
  }
  .tech-container .tech .tech-info a.contact-tech {
    background-color: var(--color-sec-light);
    padding: 15px 25px;
    font-size: 25px;
    border-radius: 50px;
    transition: 0.1s ease;
    position: absolute;
    top: -55px;
    right: 10px;
  }
}

@media (max-width: 500px) {
  .tech-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    min-height: 100vh;
    margin-top: 100px;
  }

  .tech-container .tech {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 25px;
    background: rgba(0, 0, 0, 0.116);
    padding: 15px;
    border-radius: 50px;
    backdrop-filter: blur(20px);
  }
  .tech-container .tech .tech-img {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background: rgb(5, 7, 37) url(../props/img3.jpg);
    background-size: cover;
    background-position: center;
    border: 2px solid var(--color-sec-light);
  }

  .tech-container .tech .tech-info {
    position: relative;
    margin-left: 10px;
    font-family: "Open Sans Condensed";
    max-width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .tech-container .tech .tech-info .name {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 2px;
  }
  .tech-container .tech .tech-info .position {
    font-size: 12px;
    font-weight: 200;
    letter-spacing: 2px;
  }
  .tech-container .tech .tech-info .about {
    margin-top: 10px;
    font-weight: 100;
    font-size: 16px;
  }
  .tech-container .tech .tech-info a.contact-tech {
    background-color: var(--color-sec-light);
    padding: 15px 25px;
    font-size: 15px;
    border-radius: 50px;
    transition: 0.1s ease;
    position: absolute;
    top: -55px;
    right: 10px;
  }
}

@media (max-width: 420px) {
  .tech-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    min-height: 100vh;
    margin-top: 10px;
  }

  .tech-container .tech {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 25px;
    background: rgba(0, 0, 0, 0.116);
    padding: 15px;
    border-radius: 50px;
    backdrop-filter: blur(20px);
  }
  .tech-container .tech .tech-img {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background: rgb(5, 7, 37) url(../props/img3.jpg);
    background-size: cover;
    background-position: center;
    border: 2px solid var(--color-sec-light);
  }

  .tech-container .tech .tech-info {
    position: relative;
    margin-left: 10px;
    font-family: "Open Sans Condensed";
    max-width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .tech-container .tech .tech-info .name {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 2px;
  }
  .tech-container .tech .tech-info .position {
    font-size: 12px;
    font-weight: 200;
    letter-spacing: 2px;
  }
  .tech-container .tech .tech-info .about {
    margin-top: 10px;
    font-weight: 100;
    font-size: 16px;
  }
  .tech-container .tech .tech-info a.contact-tech {
    background-color: var(--color-sec-light);
    padding: 15px 25px;
    font-size: 15px;
    border-radius: 50px;
    transition: 0.1s ease;
    position: absolute;
    top: -55px;
    right: 10px;
  }
}

@media (max-width: 400px) {
  .tech-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    min-height: 100vh;
    margin-top: 10px;
    padding: 10px;
  }

  .tech-container .tech {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 25px;
    background: rgba(0, 0, 0, 0.116);
    padding: 15px;
    border-radius: 50px;
    backdrop-filter: blur(20px);
  }
  .tech-container .tech .tech-img {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background: rgb(5, 7, 37) url(../props/img3.jpg);
    background-size: cover;
    background-position: center;
    border: 2px solid var(--color-sec-light);
  }

  .tech-container .tech .tech-info {
    position: relative;
    margin-left: 10px;
    font-family: "Open Sans Condensed";
    max-width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .tech-container .tech .tech-info .name {
    font-size: 19px;
    font-weight: 500;
    letter-spacing: 2px;
  }
  .tech-container .tech .tech-info .position {
    font-size: 14px;
    font-weight: 200;
    letter-spacing: 2px;
  }
  .tech-container .tech .tech-info .about {
    margin-top: 10px;
    font-weight: 100;
    font-size: 18px;
  }
  .tech-container .tech .tech-info a.contact-tech {
    background-color: var(--color-sec-light);
    padding: 15px 25px;
    font-size: 15px;
    border-radius: 50px;
    transition: 0.1s ease;
    position: absolute;
    top: -55px;
    right: 10px;
  }
}

@media (max-width: 375px) {
  .tech-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    min-height: 100vh;
    margin-top: 10px;
    padding: 10px;
  }

  .tech-container .tech {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 20px;
    background: rgba(0, 0, 0, 0.116);
    padding: 15px;
    border-radius: 50px;
    backdrop-filter: blur(20px);
  }
  .tech-container .tech .tech-img {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background: rgb(5, 7, 37) url(../props/img3.jpg);
    background-size: cover;
    background-position: center;
    border: 2px solid var(--color-sec-light);
  }

  .tech-container .tech .tech-info {
    position: relative;
    margin-left: 10px;
    font-family: "Open Sans Condensed";
    max-width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .tech-container .tech .tech-info .name {
    font-size: 19px;
    font-weight: 500;
    letter-spacing: 2px;
  }
  .tech-container .tech .tech-info .position {
    font-size: 14px;
    font-weight: 200;
    letter-spacing: 2px;
  }
  .tech-container .tech .tech-info .about {
    margin-top: 10px;
    font-weight: 100;
    font-size: 16px;
  }
  .tech-container .tech .tech-info a.contact-tech {
    background-color: var(--color-sec-light);
    padding: 15px 25px;
    font-size: 15px;
    border-radius: 50px;
    transition: 0.1s ease;
    position: absolute;
    top: -55px;
    right: 5px;
  }
} */
